<div class="m-24 my-10 flex justify-center">
    <div class=" my-10 flex justify-center flex-col">
<div class="container text-center" *ngIf="userLoggedIn">
    <h1 class=" text-2xl py-3">Welcome back!</h1>
    <button class="py-2 w-36 text-white bg-orange-400 rounded-xl" [routerLink]="['/lists/']" routerLinkActive="active">Go to my Lists</button>
</div>
</div>
</div>


<div class="m-24 my-10 flex justify-center">
    <h1 class="text-2xl">Filter recipes by category</h1>
</div>

<div class=" my-10 flex justify-center flex-col">
<div class="mx-20 my-10  flex justify-center flex-wrap gap-4">
    <button class="h-10 px-5 bg-indigo-500 hover:bg-indigo-300 rounded-full text-white" (click)="getStarter()">Starters</button>
    <button class="h-10 px-5 bg-indigo-500 hover:bg-indigo-300 rounded-full text-white" (click)="getDinner()">Dinner</button>
    <button class="h-10 px-5 bg-indigo-500 hover:bg-indigo-300 rounded-full text-white" (click)="getDessert()">Dessert</button>
</div>

<div class="mx-20 my-10  flex justify-center flex-wrap gap-4">
<button class="h-10 px-5 bg-indigo-500 hover:bg-indigo-300 rounded-full text-white" (click)="vegetarian()">Vegetarian</button>
    <button class="h-10 px-5 bg-indigo-500 hover:bg-indigo-300 rounded-full text-white" (click)="vegan()">Vegan</button>
    <button class="h-10 px-5 bg-indigo-500 hover:bg-indigo-300 rounded-full text-white" (click)="dairyFree()">Dairy free</button>
    <button class="h-10 px-5 bg-indigo-500 hover:bg-indigo-300 rounded-full text-white" (click)="glutenFree()">Gluten free</button>
    <button class="h-10 px-5 bg-indigo-500 hover:bg-indigo-300 rounded-full text-white" (click)="nutAllergy()">Nut allergies</button>
</div>
</div>


<div class="mx-20 my-10 flex-col flex justify-center flex-wrap gap-4">
    <div class="lg:mx-20 flex justify-center flex-wrap gap-4">
    <h4>Search:</h4>
<input class="border-grey border-solid border-2" type="text" [(ngModel)]="searchquery">
</div>
<button class="lg:mx-96 lg:w-1/7 h-10 bg-indigo-500 hover:bg-indigo-300 rounded-full text-white" type="button" (click)="getRecipes()">Get Recipes</button>
</div>


<div class="mx-20 my-10 flex justify-center flex-wrap gap-8 ">
<article class="hover:bg-violet-200 ocus:ring focus:ring-violet-300 drop-shadow-lg border-solid border-2 black rounded p-4" *ngFor="let recipe of allRecipes">
    <div class="flex flex-wrap ">
    <div class="flex-col space-y-8">
        <h2 class="w-64 font-semibold"><a  [routerLink]="['/recipe/', recipe.id]" routerLinkActive="active">{{recipe.label}}</a></h2>
        <h2 class="w-64">{{recipe.dishType}}</h2>
        <h2 class="w-64">{{recipe.dietLabels}}</h2>
    </div>
    
    <img class="drop-shadow-lg" [src]="recipe.image" [alt]="recipe.label">
    <!-- <p>Here are the Ingredients: </p>
    <ul>
        <li *ngFor="let ingredient of recipe.ingredientLines">
            {{ingredient}}
        </li>
    </ul> -->
</div>
</article>
</div>






